<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded==true" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Rental Id</th>
            <th>Brand Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rent Date</th>
            <th>Return Date</th>
            <th>Return Date</th>
            <th>Return Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.id}}</td>
            <td>{{rental.descripton}}</td>
            <td>{{rental.companyName}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.firstName}}</td>
            <td>{{rental.lastName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
            <td>{{rental.dailyPrice}}</td>
    
        </tr>
    </tbody>
    
</table>